<form class="create-update-form" action="todo" method="POST">

  <div class="form-group">
    <input type="text" id="todo" name="item">
  </div>

  <div class="form-group">
    <input type="hidden" name="completed" value="0" checked>
    <!-- <input type="radio" name="completed" value="1"> Done -->
  </div>
  <button class='btn btn-primary' type="submit">Add Stuff to Do</button>
</form>
